body{
    margin:0px;
}
div, article{
    padding:8px 12px;
}
:root{
    --white-color:rgba(245, 245, 245, 0.87);
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 57, 57);
}
.navbar__logo{
    font-size: 24px;
    padding:8px 12px;
}
.navbar__logo a{
    color: var(--white-color);
}
.navbar__logo i{
    color:rgba(255, 94, 0, 0.767);
    padding:0px 5px;
}
.navbar__info{
    font-size: 24px;
    color:var(--white-color);
    padding:8px 12px;
}
.navbar__info i{
    padding:0px 3px;
}
a{
    text-decoration: none;
    color:rgba(116, 156, 240, 0.76);
}
video{
    width:100%;
    height: 50%;
}
.sec__icons{
    display:flex;
    justify-content: space-between;
}

.sec__icons_4,
.sec__icons_1,
.sec__icons_3,
.sec__icons_2,
.sec__icons_5{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sec__icons_4 p,
.sec__icons_1 p,
.sec__icons_3 p,
.sec__icons_2 p,
.sec__icons_5 p{
    margin-top: 4px;
    margin-bottom: 0px;
}
.sec__channel{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.sec__channel_left{
    display:flex;
    align-items: center;
}
.sec_channel_left i,p{
    padding:0px 8px;
}
hr{
    margin:0px;
}
.sec__channel a{
    padding-right: 8px;
}
.sec{
    display:flex;
    flex-direction: column;
    align-items: flex-start ;
}
.sec_title{
    display: flex;
    flex-direction: row;
}
